accelerate  
matplotlib  
natsort  
numpy  
onnx  
onnxruntime  
openvino  
opencv-python  
Pillow  
pycocotools
scikit-image  
supervision  
timm  
torchaudio  
torch  
torchvision  
tqdm  
transformers  
ultralytics  
